1. What are data structures and why are they important?

Data structures are specialized formats for organizing, processing, and storing data. They define how data is arranged in memory and how operations like access, insertion, deletion, and traversal are performed.
Common types include:
- Lists: Ordered collections of items
- Tuples: Immutable sequences
- Dictionaries: Key-value pairs
- Sets: Unordered collections of unique items

Efficient Data Management:
They help organize and store data in ways that make it easy to access, modify, and process—especially when dealing with large or complex datasets.
Performance Optimization:
Choosing the right data structure can drastically improve the speed and memory usage of your program. For example, dictionaries allow fast lookups, while lists are great for ordered data.
Simplified Problem Solving:
Many algorithms rely on specific data structures (like stacks, queues, or trees) to work correctly. Understanding them helps you design better solutions.
Code Readability and Maintainability:
Well-chosen data structures make your code cleaner, easier to understand, and simpler to maintain.

2.Explain the difference between mutable and immutable data types.

- Mutable data type: These are data types whose content can be changed after they are created.
   When you modify a mutable object, you’re changing the original object itself.

Immutable data Type:- These are data types whose content cannot be changed once they are created.
Any operation that seems to modify an immutable object actually creates a new object.

3. What are the main differences between list and tuple
--> The main difference between list and tuple is that a list is mutable meaning its elements can be changed, added or removed after creation, while a tuple is immutable, meaning its contents cannot be modified once defined.
---> list are generally slower than tuples because they allow more opeartions and use more memory while tuples are faster and more memory effiecient.

4. Describe how dictionaries store data
--> Dictionaries in Python store data in the form of key-value pairs.
Each value is linked to a unique key, and you can access the value by using its key instead of an index.
Internally, dictionaries use a data structure called a hash table. When a key is added, Python applies a hash function to the key to generate a unique numbver called a hash value. This hash value determines where the key-value pair is storerd in memory.

5. Why might you use a set instead of a list in python?
-->When you need to store unique elements and don"t Care about the order of elements. sets automatically remove tghe duplicates.

6. What is string in Python, and how is it different from a list?
--> A string is a sequence of characters enclosed in quotes. It is immuttable.
--> A list, however can store multiple data types and is mutable.

7. How do tuples ensure data integrity in python?
--> Tuples are immutable, so once created their values cannot be altered. This prevents accidental modification, ensuring that the data remains consistent and secure throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python?
--> A hash table is a data structure that stores data in  key-value pairs using a hash function to compute an index for each key.
   Python dictionaries are implemented using hash tables to allow fast lookups and updates.

9. Can lists contain different data types in Python?
--> YES, list can contain different dta types such as integers, strings, floats or even other lists and dictionaries.

10.Explain why strings are immutable in python.

11. What advantages do dictionaries offer over lists for certain tasks?
--> Dictionaries allow faster data access using leys instead of searching all elements like in lists.They are also better when data is organized in key-value form.

12. Describe a scenario where using a tuple would be preferable over a list

13. How do sets handle duplicate values in Python?
--> Sets automatically remove duplicate values. If you try to adda an existing element, it will not be added again.

14. How does the "in" keyword work diferently for lists and dictionaries?
--> In a list, the in keyword checks whether a value exists in the list. In a dictionary, it checks whether a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
--> No, you cannot modify the elements of a tuple because tuples are immutable. Once created their contents cannot be changed, added or removed.

16. What is nested dictionary, and give an example of its use case?
--> A nested dictionary is a dictionary inside another dictionary. It is used to store complex data like student records.

17. Describe the time complexity of accessing elements in a dictionary.
-->

In [ ]:
18. In what situations are lists preferred over dictionaries?
--> Lists are preferred when the data is ordered, when you only need to store data values(not key-value pairs), or when the order of elements matters, such as processing a series of numbers.

20. Explain the difference between a list and a dictionary in terms of data retrival.
--> A list retrieves elemts by index position, whereas a dictionary retrieves elements by key. Dictionary lookups are faster because they use hashing, while list lookups require searching through elements.

Practical questions

1.Write a code to create a string with your name and print it.

In [1]:
print("Soniya")

Soniya

2. Write a code to find the length of the string "Hello world"

In [2]:
len("Hello world")

11

3. write a code to slice the first 3 characters from the string "Python Programming"

In [15]:
a = "Python Programming"
print(a[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [5]:
b = "hello"
c= b.upper()
print(c)

HELLO

5. write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
d= "I like apple"
d.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [14]:
list(range(1,6))

[1, 2, 3, 4, 5]

7.write a code to append the number 10 to the list [1,2,3,4]

In [19]:
x = [1,2,3,4]
x.append(10)
x

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5]

In [20]:
s = [1,2,3,4,5]
s.remove(3)
s

[1, 2, 4, 5]

9. Write the code to access the second element in the list ["a","b","c","d"]

In [21]:
s = ["a","b","c","d"]
s[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [28]:
s = [10, 20, 30, 40, 50]
s[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the element 100, 200, 300 and print it

In [30]:
x = (100,200,300)
print(x, type(x))

(100, 200, 300) <class 'tuple'>

12.Write a code to access the second-to-last element of the tuple("red", "green", "blue","yellow")

In [31]:
x = ("red", "green", "blue","yellow")
x[2]

'blue'

13. Write a code to find the minimun number in the tuple(10, 20, 5, 15)

In [33]:
x = (10, 20, 5, 15)
min(x)

5

14.Write a code to find the index of the element "Cat" in the tuple("dog", "cat","rabbit")

In [42]:
x = ("dog", "cat","rabbit") 
index = x.index("cat")
print(index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [43]:
s = ("Apple", "Oranges", "Kiwi")
for i in s:
    if i == "Kiwi":
        print(i)

Kiwi

16. Write a code to create  a set with the elements "a", "b","c" and print it

In [44]:
y = ["a", "b", "c"]
y

['a', 'b', 'c']

17. Write a code to clear all the elements from the set {1, 2, 3, 4, 5}

In [48]:
s = {1,2,3,4,5}
a = s.clear()
type(a)

NoneType

18. Write a code to remove the element 4 from the set {1,2,3,4}

In [52]:
a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

19. Write a code to remove the union of two sets {1,2,3} and {3,4,5}

In [53]:
{1,2,3} | {3,4,5}

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}

In [54]:
{1,2,3}&{2,3,4}

{2, 3}

21.Write a code to create the dictionary with the keys "name", "age" and "city" and print it

In [56]:
s = {"name": " ", "age": " ", "city": " "}
s

{'name': ' ', 'age': ' ', 'city': ' '}

22. Write a code to add a key value pair "country": "USA" to the dictionary {"name":"Alice","age":30}

In [59]:
d = {"name":"Alice","age":30}

In [60]:
d["country"]="USA"

In [61]:
d

{'name': 'Alice', 'age': 30, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30, 'country': 'USA'}

In [62]:
f = {'name': 'Alice', 'age': 30, 'country': 'USA'}

In [63]:
f["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {"name":"Bob","Age":"22","city":"New York"}

In [6]:
s = {"name":"Bob","Age":"22","city":"New York"}

In [7]:
s.pop("Age")
s

{'name': 'Bob', 'city': 'New York'}

25. Check if key "city" exists in {"name":"Alice", "city":"Paris"}

In [8]:
t1 = {"name":"Alice", "city":"Paris"}

In [9]:
print("city" in t1)

True

26. Create a list, a tuple, and a dictionary and print them all.

In [10]:
my_list = [11, 22, 33, 44]
my_tuple = (101, 202, 303)
my_dict = {"Name": "Soniya", "State":"Goa", "Age":27}

In [13]:
print(my_list, my_tuple, my_dict)

[11, 22, 33, 44] (101, 202, 303) {'Name': 'Soniya', 'State': 'Goa', 'Age': 27}

27. Write a code to Create a list of five random numbers between 1 to 100 sort it in  ascending order and print the result.

In [32]:
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
random_list

[13, 25, 37, 63, 65]

28. Write a code to create a list with strings and print the element of the third index.

In [19]:
str_list = ["One", "soniya", "Tilak", "Gujarat"]

In [20]:
str_list[3]

'Gujarat'

29. Write a code to combine two dictionaries into one and print the result.

In [22]:
d1 = {"class": "A", "Name": "Soniya"}
d2 = {"Roll No": 10, "Subject": "Data-science"}
d1

{'class': 'A', 'Name': 'Soniya'}

In [23]:
d2

{'Roll No': 10, 'Subject': 'Data-science'}

In [28]:
d3 = d1.copy()
d3.update(d2)
d3

{'class': 'A', 'Name': 'Soniya', 'Roll No': 10, 'Subject': 'Data-science'}

30. Write a code to convert a list of strings into a set

In [31]:
list = ["Soniya", "Abhijit", "Tejas", "Abhay"]
a = set(list)
print(a)

{'Soniya', 'Abhay', 'Abhijit', 'Tejas'}